<h2>How To Play</h2>
<br>

<p id='rules'>
	<span class="emphasize"> 1.) Choose a color.</span>  The fortune will count based on the number of letters used to spell the chosen color (e.g. "Green" is 5). After the count a set of four numbers will appear.
<br>
	<span class="emphasize"> 2.) Choose a number. </span> The fortune will count based on the number chosen.  After the count the fortune should show a set of four numbers.
<br>
	<span class="emphasize"> 3.) Choose a final number </span> and your fortune will be revealed.  Choose wisely.
<br>
	<span class="emphasize"> 4.) Enjoy your fortune! </span>
<br>
<br>
</p>

<p id="getIt">Got It Now?</p>
</p>

<div class="btn-group" ng-click="	go('/')">
  <button class="btn btn-success">Time to Play!</button>
</div>

<style>

  h2{
    font-size: 3em;
    color: #027B31;
    text-align: center;
  }

	.btn-group{
    top: .1em;
    }

   #getIt{
   	text-align: center;
   	font-size: 2em;
   }

</style>