<h2>Enjoy your fortune!</h2>

<!-- FORTUNE FLAP -->
<div class="fortune-flap">
<div id='message' ng-controller="MainCtrl">{{message}}</div>
</div>

<div class="inside-container">
<div class="line1"></div>
<div class="line2"></div>
<div class="line7"></div>
<div class="line8"></div>

<div class="inside-left">
<!-- <div id="top-lf-lf"></div>
<div id="top-lf-rt"></div> -->
</div>

<div class="inside-right">
<!-- <div id="top-rt-lf"></div>
<div id="top-rt-rt"></div> -->
</div>

<div class="inside-left">
<!-- <div id="bottom-lf-lf"></div>
<div id="bottom-lf-rt"></div> -->
</div>

<div class="inside-right">
<!-- <div id="bottom-rt-lf"></div>
<div id="bottom-rt-rt"></div> -->
</div>

</div>

<!-- Single button -->
<div class="btn-group" ng-click="	go('/')">
  <button class="btn btn-success">Replay?</button>
</div>

<style>
	h1, h5{
		display: none;
	}

	h2{
		color: #027B31;
		margin-right: 2em;
		text-align: center;
	}


</style>