<p id="intro">
Want to relive your childhood or get some guidance for your day?<br>
Come play our fortune teller game!<br>
If you don't know how to play, please refer to our "How To Play" instructions.
</p>

<!-- INDEX  STARTING WITH CLOSED FORTUNE -->
<div class="container" ng-show="close">
<div class="line1"></div>
<div class="line2"></div>

<!-- GREEN -->
<div class="top-left" ng-click="play(10)">
<!-- <div id="top-lf-lf"></div>
<div id="top-lf-rt"></div> -->
</div>

<!-- ORANGE -->
<div class="top-right" ng-click="play(12)">
<!-- <div id="top-rt-lf"></div>
<div id="top-rt-rt"></div> -->
</div>

<!-- BLUE -->
<div class="bottom-left" ng-click="play(8)">
<!-- <div id="bottom-lf-lf"></div>
<div id="bottom-lf-rt"></div> -->
</div>

<!-- PINK -->
<div class="bottom-right" ng-click="play(8)">
<!-- <div id="bottom-rt-lf"></div>
<div id="bottom-rt-rt"></div> -->
</div>
</div>

<!-- OPENS VERTICLE FORTUNE 
 -->
<!-- vertical open -->

<div class="open-container" ng-show="vertical">

<div id="line1"></div>
<div id="line2"></div>
<div id="line3"></div>
<div id="line4"></div>
<div id="line5"></div>
<div id="line6"></div>

<div id="top-lf-out"></div>

<div id="top-lf-in">
<p id="eight" ng-click="play(16)">8</p>
</div>


<div id="top-rt-in">
	<p id="three" ng-click="play(6)">3</p>
</div>
<div id="top-rt-out"></div>


<div id="bottom-lf-out"></div>
<div id="bottom-lf-in">
	<p id="seven" ng-click="play(14)">7</p>	
</div>

<div id="bottom-rt-in">
	<p id="four" ng-click="play(8)">4</p>	
</div>
<div id="bottom-rt-out"></div>
</div>

<!-- OPEN HORIZONTAL FORTUNE -->
<!-- IN PAGE STYLING ON THE BOTTOM -->

<div class="horizontal" ng-show="horizontal">
<!-- vertical open -->
<div class="open-container">
<div id="line1"></div>
<div id="line2"></div>
<div id="line3"></div>
<div id="line4"></div>
<div id="line5"></div>
<div id="line6"></div>

<div id="top-lf-out"></div>
<div id="top-lf-in">
		<p id="two" ng-click="play(4)">2</p>
</div>


<div id="top-rt-in">
		<p id="five" ng-click="play(10)">5</p>
</div>
<div id="top-rt-out"></div>


<div id="bottom-lf-out"></div>
<div id="bottom-lf-in">
		<p id="one" ng-click="play(2)">1</p>
</div>

<div id="bottom-rt-in">
		<p id="six" ng-click="play(12)">6</p>
</div>
<div id="bottom-rt-out"></div>
</div>
</div>

<style>
/*same thing as the open_fortune.html page but rotated*/
	.horizontal .open-container{
		transform: rotate(90deg);
	}

	/*this is #top-rt-out verticle*/
	.horizontal #top-lf-out { 
    border-color: transparent transparent orange transparent;
	}

	/*this is #bottom-rt-out verticle*/
	.horizontal #top-rt-out { 
    border-color: transparent transparent pink transparent;
	}

	/*this is #top-lf-out verticle*/
	.horizontal #bottom-lf-out { 
    border-color: transparent transparent blue transparent;
	}

	/*this is #bottom-rt-out verticle*/
	.horizontal #bottom-rt-out { 
    border-color: transparent transparent lime transparent;
	}
</style>